.container{
    align-items: center;
    display: flex;
    justify-content: center;
    height: calc(100vh - 100px);
    width: 100%;
}

.styleContainer{
    height: calc(100vh - 100px);
    width: 100%;
}

.container_sd{
    /* height: calc(100vh - 100px); */
    margin: auto;
    background-color: white;
}


.menuDisplay{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

/* .display{
     margin-top: -18px;
} */

/* @media screen and (max-width: 450px){
    .container{
        height: calc(100vh - 200px);
    }
} */

@media screen and (max-width: 450px){
    .container{
        height: calc(100vh - 150px);
    }
    
    .styleContainer{
        height: calc(100vh - 150px);
    }
}